* {
    background-color: oklch(0.28 0.03 252.75) ;
}

h1 {
    font-family: "Arial", "Verdana", "Tahoma", serif, sans-serif, monospace;
    font-size: 88px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.recipe.choices {
    font-family: "Arial", "Verdana", "Tahoma" serif, sans-serif, monospace;
    font-size: 44px;
    text-align: center;
    color: white;
    list-style-type: none;

    a:link {text-decoration: none;}
    a:link {color: oklch(0.78 0.18 74.49)}
    a:visited {color:#000000;} /* visited link is black (reverse the color back to black)*/
    a:hover {color:#ffffff;}   /* mouse over link (blue when mouse over)*/
    a:active {color:#0000FF;}  /* selected link (blue in the split second which you loading the page.)*/
}

img {
    width: 1000px;
    height: auto;
}







